<div  class="text-center content-center w-full font-bold text-3xl mb-10"><a href="/multiplication">multplication</a>table {{number}}</div>
<div class="grid grid-cols-7 gap-4 mb-10">
   <div></div>
   <div>{{number}}</div>
   <div> X </div>
   <div>{{ rdm }}</div>
   <div>=</div>

   <div cdkDropList class="border-2 border-black text-center"  #resultList="cdkDropList"
   [cdkDropListData]="resultat"
   [cdkDropListConnectedTo]="propositionList"
   (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of resultat" class="border-2 border-black text-center">{{ item }}</div>
    </div>
</div>

<div cdkDropList class="grid grid-cols-4 gap-4 mb-10"  #propositionList="cdkDropList"
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="propositions"
    [cdkDropListConnectedTo]="resultList"
    (cdkDropListDropped)="drop($event)">
    
    <div *ngFor="let item of propositions" class="border-2 border-black text-center" cdkDrag>{{ item }}</div>
 </div>

<div *ngIf="resultat.length > 0">
    <div *ngIf="answer == resultat[0]">bravo</div>
    <div *ngIf="answer != resultat[0]">le resultat est {{ answer }}.  reponse : {{ resultat[0]}}</div>
    <div> <button class="bg-amber-300 border-4" type="button" (click)="next()">Suivant</button></div>
</div>
